* {
	box-sizing: border-box;
	
	font-family: Sans-Serif;
	
	color: white;
	
	margin: 0px;
	padding: 0px;
}

.fa, #settingsSectionTabs>li {
	cursor: default;
}

body {
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	
	background-color: black;
}

canvas {
	display: inline-block;
	
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	width: 100%;
	height: 100%;
	
	z-index: 0;
}

#audioElement {
	display: inline-block;
	
	width: 100%;
	
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	
	background: black;
	
	z-index: 20;
}

#settingsNav>header {
	padding: 0px;
	margin: 0px;
	
	display: inline-block;
	
	background: rgba(0, 0, 0, 0.2);
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 50px;
	height: 50px;
	padding-left: 50px;
	
	overflow: hidden;
	
	transition: width 200ms;
	-o-transition: width 200ms;
	-moz-transition: width 200ms;
	-webkit-transition: width 200ms;
	
	z-index: 10;
}

#settingsPresetsMenu {
	display: inline-block;
	
	position: absolute;
	top: 0px;
	left: 320px;
	
	width: 0px;
	
	overflow: hidden;
	
	background: rgba(0, 0, 0, 0.2);
	
	transition: width 100ms;
	-o-transition: width 100ms;
	-moz-transition: width 100ms;
	-webkit-transition: width 100ms;
}

#settingsPresetsMenu #settingsPresetsMenuSizer {
	width: 250px;
	
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-top: none;
}

#settingsPresetsMenu.opened {
	width: 250px;
}

#settingsPresetsMenu header input[type="text"] {
	background: rgba(0, 0, 0, 0.2);
	
	border: 1px solid rgba(255, 255, 255, 0.1);
	
	width: 60%;
	height: 30px;
	
	margin: 6px 4px;
	margin-right: 0px;
	padding: 0px 6px;
	
	float: left;
}

#settingsPresetsOptions {
	float: right;
	
	text-align: center;
	
	width: calc(40% - 6px);
	width: -o-calc(40% - 6px);
	width: -moz-calc(40% - 6px);
	width: -webkit-calc(40% - 6px);
}

#settingsPresetsOptOpen, #settingsPresetsOptSave {
	margin-top: 10px;
	padding: 0px 6px;
	
	transition: color 100ms;
	-o-transition: color 100ms;
	-moz-transition: color 100ms;
	-webkit-transition: color 100ms;
}

#settingsPresetsOptOpen:hover, #settingsPresetsOptSave:hover {
	color: #2ecc71;
}

#settingsPresetsList {
	display: inline-block;
	
	width: 100%;
	height: 100%;
	max-height: 50vh;
	
	overflow-y: auto;
	
	margin: 0px;
	padding: 0px;
	
	list-style: none;
}

#settingsPresetsList>li {
	cursor: pointer;
	
	height: 40px;
	
	vertical-align: middle;
	line-height: 40px;
	
	padding: 0px 8px;
	
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 0px solid #3498db;
	
	transition: background 100ms, border-left-width 100ms;
	-o-transition: background 100ms, border-left-width 100ms;
	-moz-transition: background 100ms, border-left-width 100ms;
	-webkit-transition: background 100ms, border-left-width 100ms;
}

#settingsPresetsList>li:hover {
	border-left-width: 4px;
	background: rgba(255, 255, 255, 0.1);
}

#presetMenuOpenCloseBtn {
	display: inline-block;
	float: right;
	
	position: absolute;
	top: 50%;
	left: 290px;
	
	padding: 2px 8px;
	
	transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	
	transition: transform 100ms, opacity 100ms;
	-o-transition: transform 100ms, opacity 100ms;
	-moz-transition: transform 100ms, opacity 100ms;
	-webkit-transition: transform 100ms, opacity 100ms;
}

#presetMenuOpenCloseBtn.opened {
	transform: translateY(-60%) rotateY(180deg);
	-o-transform: translateY(-60%) rotateY(180deg);
	-moz-transform: translateY(-60%) rotateY(180deg);
	-webkit-transform: translateY(-60%) rotateY(180deg);
}

#settingsNav * {
	text-shadow: 0px 1px 0px black;
}

#settingsNav.activated>header {
	width: 320px;
}

#settingsNav>header h3 {
	display: inline-block;
	
	font-size: 1.3em;
	
	margin: 0px 16px;
	
	position: absolute;
	top: 45%;
	
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

#hambParent {
	display: inline-block;

	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 50px;
	height: 50px;
	
	background: rgba(0, 0, 0, 0.2);
	
	text-align: center;
	vertical-align: middle;
	
	line-height: 50px;
}

#hamb {
	display: inline-block;
	
	text-shadow: none;
	
	margin: 0px;
	padding: 0px;
	
	transition: transform 200ms;
	-o-transition: -o-transform 200ms;
	-moz-transition: -moz-transform 200ms;
	-webkit-transition: -webkit-transform 200ms;
}

#settingsNav {
	/* Disable selection. This is better for some reasons (checkbox) */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#settingsNav.activated #hamb {
	transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
}

#settingsCtrlsContainer {
	display: inline-block;
	
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	
	height: 0vh;
	width: 50px;
	
	overflow: hidden;
	overflow-y: hidden;
	
	transition: width 200ms, height 200ms;
	-o-transition: width 200ms, height 200ms;
	-moz-transition: width 200ms, height 200ms;
	-webkit-transition: width 200ms, height 200ms;
}

#settingsNav.activated #settingsCtrlsContainer {
	height: 80vh;
	width: 320px;
}

#settingsCtrlsContainer>div {
	width: 320px;
	height: 80vh;
	
	overflow: auto;
	overflow-x: hidden;
}

#settingsSectionTabs {
	list-style: none;
	
	overflow: hidden;
	
	margin: 0px;
	padding: 0px;
	
	padding-left: 6px;
	padding-top: 8px;
	
	background: rgba(0, 0, 0, 0.4);
}

#settingsSectionTabs>li {
	display: inline-block;
	
	float: left;
	
	margin: 0px;
	padding: 0px;
	
	width: 40px;
	height: 40px;
	
	text-align: center;
	vertical-align: middle;
	
	line-height: 40px;
	
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 0px solid #3498db;
	
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.4);
	
	transition: background 100ms, color 100ms, border-bottom-width 100ms;
	-o-transition: background 100ms, color 100ms, border-bottom-width 100ms;
	-moz-transition: background 100ms, color 100ms, border-bottom-width 100ms;
	-webkit-transition: background 100ms, color 100ms, border-bottom-width 100ms;
}

#settingsSectionTabs>li:first-of-type {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#settingsSectionTabs>li:hover, #settingsSectionTabs>li.activated {
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.8);
}

#settingsSectionTabs>li.activated {
	border-bottom-width: 4px;
}

.settingsCtrlsList {
	list-style: none;
	
	margin: 0px;
	padding: 0px;
}

.settingsCtrl, .settingsMajorCtrl {
	display: inline-block;
	
	background: rgba(0, 0, 0, 0.4);
	
	width: 100%;
	height: 40px;
	
	position: relative;
	
	vertical-align: middle;
	line-height: 40px;
	
	border-left: 4px solid #3498db;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding-left: 10px;
}

.ctrlName {
	display: inline-block;
	
	width: 60%;
}

.ctrlInput, .ctrlMajorInput {
	display: inline-block;
	
	background: rgba(0, 0, 0, 0.2);
	
	border: none;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	
	float: right;
	
	width: 40%;
	height: 100%;
	padding: 0px 12px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + .ctrlCheckbox {
	display: inline-block;
	
	margin: 0px;
	padding: 0px;
	
	width: 18px;
	height: 18px;
	
	position: absolute;
	right: 18px;
	top: 50%;
	
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	
	background: rgba(255, 255, 255, 0.1);
	
	border-radius: 2px;
}

input[type="checkbox"] + .ctrlCheckbox:before {
	content: "\f00c";
	
	color: #3498db;
	
	position: absolute;
	top: 6%;
	left: 8%;
	
	opacity: 0;
	
	transform: scale(0);
	-o-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	
	transition: opacity 100ms, transform 100ms;
	-o-transition: opacity 100ms, -o-transform 100ms;
	-moz-transition: opacity 100ms, -moz-transform 100ms;
	-webkit-transition: opacity 100ms, -webkit-transform 100ms;
}

input[type="checkbox"]:checked + .ctrlCheckbox:before {
	opacity: 1;
	
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

input[type="color"].ctrlInput {
	padding: 0px;
	border: none;
}

select.ctrlInput {
	padding: 0px 8px;
}

.ctrlInput option {
	background: white;
	color: black;
}

.settingsMajorCtrl {
	padding-left: 0px;
}

.ctrlMajorInput {
	font-size: 1.3em;
	font-weight: bold;
	
	float: none;
	
	width: 100%;
	
	border-left: none;
	
	padding-right: calc(40% - 4px);
	padding-right: -o-calc(40% - 4px);
	padding-right: -moz-calc(40% - 4px);
	padding-right: -webkit-calc(40% - 4px);
}

.ctrlOptions {
	display: inline-block;
	
	position: absolute;
	top: 0%;
	right: 0%;
	left: calc(60% + 4px);
	left: -o-calc(60% + 4px);
	left: -moz-calc(60% + 4px);
	left: -webkit-calc(60% + 4px);
	
	width: calc(40% - 4px);
	width: -o-calc(40% - 4px);
	width: -moz-calc(40% - 4px);
	width: -webkit-calc(40% - 4px);
	height: 100%;
	
	border-left: 1px dotted rgba(255, 255, 255, 0.1);
	
	padding: 0px;
	margin: 0px;
	
	text-align: center;
	
	line-height: 14px;
}

.ctrlOptions>li {
	display: inline-block;
	
	margin: 0.5px 10px;
}

.ctrlOptClone, .ctrlOptRight, .ctrlOptLeft, .ctrlOptDelete {
	transition: color 200ms;
	-o-transition: color 200ms;
	-moz-transition: color 200ms;
	-webkit-transition: color 200ms;
}

.ctrlOptClone:hover, .ctrlOptRight:hover, .ctrlOptLeft:hover {
	color: #2ecc71;
}

.ctrlOptDelete:hover {
	color: #e74c3c;
}

.ctrlOptMoves {
	display: inline-block;
	
	position: relative;
	top: 5px;
}
